*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: hsl(0deg 0% 10.2%);
  --cyan: hsl(166, 86%, 51%);
  --white: white;
  --gray: gray;
  --padding-left-right: 32px;
  --padding-block: 16px;
  --list-left-margin: 16px;
}

body {
  display: flex;
  justify-content: center;
}

.App {
  width: 1000px;
  min-height: 100dvh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(4, auto);
}

.Photo,
.NavSection {
  background-color: var(--dark);
  color: var(--cyan);
  padding-inline: var(--padding-left-right);
  padding-block: var(--padding-block);
}

.Photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Photo img {
  width: 80%;
  border-radius: 50%;
  border: 5px solid var(--white);
  margin-block: 16px;
}

.NavSection {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  position: relative;
}

.GeneralInfo,
.Experience,
.Profile,
.Education {
  width: 70%;
  padding-inline: var(--padding-left-right);
  padding-block: var(--padding-block);
  position: relative;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.NavSection::before,
.Experience::before,
.Profile::before,
.Education::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: var(--gray);
  opacity: 0.7;
}

.NavSection::before {
  width: 70%;
}

h1 {
  font-size: 42px;
  margin-block: var(--padding-block);
}

.phone,
.email {
  display: flex;
  align-items: center;
}

.phone img,
.email img,
.Profile img {
  width: 20px;
  margin-right: 8px;
  cursor: pointer;
}

.Profile ul,
.Experience ul,
.Education ul {
  margin-left: var(--list-left-margin);
}

.exp_info {
  display: flex;
  gap: 8px;
}

.period,
.location {
  display: flex;
  align-items: center;
}

.edit_btn {
  position: absolute;
  top: 16px;
  right: 0;
  cursor: pointer;
}

.form {
  width: 400px;
  background-color: var(--dark);
  color: var(--cyan);
  padding: var(--padding-block) var(--list-left-margin);
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--padding-block);
  border-radius: 12px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.form label,
.form .input_container {
  width: 100%;
  height: 30px;
  display: flex;
  gap: 12px;
}

.form input {
  width: 100%;
  height: 30px;
  padding-inline: 8px;
}

.form button {
  border: 0;
  outline: transparent;
  padding: 8px;
  background-color: var(--cyan);
  color: var(--dark);
  border-radius: 8px;
  cursor: pointer;
}

.form button:is(:hover, :focus) {
  opacity: 0.7;
}

h2 {
  line-height: 1;
  margin-bottom: 10px;
}

.Experience img,
.Education img {
  width: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.hidden {
  display: none;
}
